.back, a{
    margin-top: 5px;
    background-color: rgb(95, 95, 224);
    color: white;
    text-decoration: none;
    width: 70px;
    height: 40px;
    border: transparent;
    border-radius: 5px;
}